.hero {
  background-color: var(--background);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100vw;
  padding: 5rem 0;
}

.illust_wrapper {
  background-color: #fff;
  border-radius: 999px 999px 0 0;
  height: 500px;
  width: 350px;
}

.main_illust {
  width: 280px;
  position: absolute;
  bottom: 107px;
  height: auto;
}

.title_wrapper {
  display: flex;
  flex-direction: column;
}

.main_title {
  width: 300px;
  height: max-content;
  margin: 1rem auto;
  align-items: center;
}

.title_wrapper h3 {
  font-size: 2rem;
  letter-spacing: -0.06em;
  font-family: var(--font-noto-sans);
  color: #fd906b;
  text-align: center;
  font-weight: 800;
}

@media (600px <= width < 800px) {
}
