.skills_image {
  width: 50vw;
  text-align: right;
}

.skills_wrapper {
  height: 400px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.skill_child {
  color: rgba(253, 144, 107, 1);
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 30%;
}

.skill_child h2 {
  font-size: 120%;
  font-weight: 800;
  margin: 1rem 0 2rem 0;
}
